$breakpoint: (
        mobile: 500px,
        tablet: 768px,
        desktop: 992px,
        screen-l: 1280px,
        screen-xl: 1680px,
        screen-xxl: 1920px
) !default;

@mixin media-query($from: null, $to: null) {

  @if ($from) and ($to) {
    $bp-from: map-get($breakpoint, $from);
    $bp-to: map-get($breakpoint, $to) - 1px;

    @media only screen and (min-width: $bp-from) and (max-width: $bp-to) {
      @content;
    }
  }

  @else if ($from) {
    $bp-from: map-get($breakpoint, $from);

    @media only screen and (min-width: $bp-from) {
      @content;
    }
  }

  @else if ($to) {
    $bp-to: map-get($breakpoint, $to) - 1px;

    @media only screen and (max-width: $bp-to) {
      @content;
    }
  }

}
