@import "../mixins/media-query";

.recipes {
  margin: 2rem 0;
  padding-bottom: 120px;
  padding-top: 120px;

  &__title {
    font-size: 23px;
    font-weight: bold;
  }

  &__subtitle {
    margin: 1em 0;
  }

  &__container {
    margin-top: 2rem;
    column-count: 2;
    column-gap: 20px;

    @include media-query(null, tablet) {
      column-count: 1;
    }
  }
}
